.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.layout {
    width: 100%;
    margin-bottom: 15px;
    /* min-height: 90vh; */
    /* height: 100%; */
    height: 100vh;
    background-color: #F2F2F2;
    /* #A7D5D8 */
    /* #ADD8E6 */
}

.users {
    left: 10px;
    position: relative;
}

.switch {
    position: relative;
    top: 35%;
}

.addNewUserBut {
    position: relative;
    top: 25%;
    right: 12%;
}

.table {
    width: 100%;
    border: 1px solid black;
    padding: 10;
}

.signInForm {
    width: 200;
    border: 1px solid black;
    padding: 10;
    margin: 5;
}

@media only screen and (min-Width: 768px) {
    .table {
        width: 55%;
        left: 22%;
        right: 22%
    }

}